<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">

<head>
    <title>jacobdemo</title>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"/>
    <style>
        .capitalize {
            text-transform: capitalize;
        }
    </style>
</head>

<body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="#"><span class="capitalize">jacobdemo</span></a>
            </div>
        </div>
    </nav>

    <div class="jumbotron">
        <div class="container">
            <h1>Hello, world!</h1>
            <p>My name is <em><span class="capitalize">jacobdemo</span></em>, and I am a microservice...</p>
        </div>
    </div>

    <div class="container">
        <p class="lead">This page is here to simply let you know I'm alive and well in this <b>micro</b>verse.</p>
    </div>

</body>

</html>
